body{
margin: 0;


}

h1{
color: #BE2233;
font-weight: 400;
margin-left: 300px;
}

.barra-superior{
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px 10px;
border-bottom: 1px solid #e0e0e0;
background: #FFFDF0;
border: none;
}

.barra-pesquisa{
display: flex;
align-items: center;
background-color: #F4D9D2;
border-radius: 5px;
}


.lupa{
    background: none;
    border: none;
    margin-right: 15px;
    cursor: pointer;
    font-size: 16px;
    color: #8b5c5c;
}

input{
    border: none;
    background: transparent;
    padding: 5px 100px;
outline: none;
font-size: 14px;
color: #CC876A;
}

input::placeholder{
margin-left: 10px;
color: #BE2233;
font-size: 14px;
}

.superior-direita {
display: flex;
  align-items: center;
  margin-right: 300px;
  gap: 15px;
  font-size: 14px;
}


.conta{
display: flex;
flex-direction: column;

}

.linha{

border: none;
border-top: 1px solid #e63d13;
margin: 0;
}


nav{
display: flex;
justify-content: center;
gap: 25px;
padding: 10px 0;
font-size: 20px;
margin-top: 10px;
margin-bottom: 15px;
}

h2{
text-align: center;
color: #CC876A;
font-size: 36px;
}

.grid-produtos{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  max-width: 1000px;
  margin: 0 auto;
}

.cards{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid #DEDEDE;
  border-radius: 6px;

  padding: 0px;
}

.cards img{
  max-width: 100%;
  border-radius: 4px;
}

.cards h3{
  color: #CC876A;
  font-size: 24px;
  margin: 8px 15px  4px;
}

.cards .preço{
margin: 8px 15px  4px;
font-weight: bold;
color: #346D9E;
font-size: 24px;
}

.cards p{
  margin: 0px 15px  4px;
  font-size: 14px;
  color: #346D9E;

}

.imagens-central{
display: flex;
justify-content: center;
gap: 30px;
margin-top: 60px;
}